name: Debug

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  package:
    name: Show ${{ matrix.runner.name }}
    runs-on: ${{ matrix.runner.name }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - name: ubuntu-latest
          - name: ubuntu-22.04
          - name: ubuntu-slim
    steps:
      - name: Show Free Space
        run: |
          df -h

      - name: Docker?
        run: docker --version
